body{
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

.navbar{
    font-size: .7rem;
    margin-top: 1.2em;
}
.navbar-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 1.35rem
}
.logo{
    max-width: 30%;
}
.navbar-collapce, .show{
     background: #343a40!important;
 }
 .nav-item{
     padding-right: 7px;
 }
.cart-img > img{
    width: 14px;
}
.search-img > img{
    width: 17px;
}

.carousel-indicators > li{
    width: 0;
    height: 0;
    border: 5px solid white;
    border-radius: 50%;
}
.carousel-indicators .active{
    border: 5px solid black;
    box-shadow: gray 0 0 0 2px;
}
.carousel-control-prev-icon{
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 0;
    width: 41px;
    height:73px;
}
.carousel-control-next-icon{
    background: url(../img/sprite.png) no-repeat;
    background-position: -39px 0;
    width: 41px;
    height:73px;
}
.carousel-caption{
    font-family: 'Raleway', sans-serif;
    bottom: 30%;
}
.user-btn{
    background-color: rgb(250, 119, 119);  
    border: 1px solid #000;
    font-size: 10px;
    padding: 9px 28px;
}
.slider{
    background: url(../img/slider.jpg) no-repeat;
    background-color: gray;
    background-size: cover;
    width: 100%;
}